<!-- todo.component.html -->
<body style="background-image: url('assets/arriere.png'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div class="todo-container">
        <h1>Task Flow</h1>
    
    <div class="new-task">
        <input [(ngModel)]="newTask" placeholder="Add a new task..." />
        <input [(ngModel)]="newTaskNotes" placeholder="Add notes..." />
        <input type="date" [(ngModel)]="newTaskDueDate" placeholder="Due Date" />
        <button (click)="addTask()">Add Task</button>
    </div>
    
    <ul>
        <li *ngFor="let task of filterTasks()">
            <input type="checkbox" (change)="toggleComplete(task)" [checked]="task.completed" />
            <span [class.completed]="task.completed" [class.important]="task.important" [class.urgent]="task.urgent">
                {{ task.name }} - <small>{{ task.addedTime | date:'short' }}</small> - <small>Due: {{ task.dueDate | date:'shortDate' }}</small>
            </span>
            <div class="task-actions">
                <button (click)="toggleImportant(task)">Important</button>
                <button (click)="toggleUrgent(task)">Urgent</button>
                <button (click)="editTask(task)" *ngIf="editingTask !== task">Edit</button>
                <button (click)="deleteTask(task)">Delete</button>
            </div>
            <div class="notes">Notes: {{ task.notes }}</div>
        </li>
    </ul>
</div>
    </body>